@font-face {
	font-family: roboto;
	src: url(fonts/Roboto-Regular.woff2);
}
body{
	font-family: roboto;
	color: #ffffff;
}
#background{
	background-image: url(../images/GAME_BOARD.gif);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
}

#wrap{
	padding: 15px;
}
